In [1]:
CREATE DATABASE BD_ACADEMIA

: Msg 1801, Level 16, State 3, Line 1
Database 'BD_ACADEMIA' already exists. Choose a different database name.

In [ ]:
USE BD_ACADEMIA

In [ ]:
CREATE TABLE Instrutor(
    CPF INTEGER NOT NULL PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Telefone VARCHAR(11) 
)

In [ ]:
SELECT * FROM Instrutor

In [5]:
CREATE TABLE Matricula(
    Id INTEGER  NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Data_Matricula  DATE NOT NULL,
    Data_Vencimento DATE NOT NULL,
    CPF_Instrutor INTEGER FOREIGN KEY REFERENCES Instrutor(CPF)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Matricula' in the database.

In [6]:
SELECT * FROM Matricula

In [7]:
CREATE TABLE Aluno(
    CPF INTEGER NOT NULL PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Altura FLOAT,
    Peso INTEGER,
    Telefone VARCHAR(20),
    Id_Matricula INTEGER FOREIGN KEY REFERENCES Matricula(Id)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Aluno' in the database.