In [1]:
CREATE DATABASE BD_ACADEMIA

: Msg 1801, Level 16, State 3, Line 1
Database 'BD_ACADEMIA' already exists. Choose a different database name.

In [2]:
USE BD_ACADEMIA

In [5]:
CREATE TABLE Instrutor(
    CPF INTEGER NOT NULL PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Telefone VARCHAR(11) 
)