In [43]:
DROP DATABASE BD_ACADEMIA

: Msg 3702, Level 16, State 4, Line 1
Cannot drop database "BD_ACADEMIA" because it is currently in use.

In [1]:
CREATE DATABASE BD_ACADEMIA

: Msg 1801, Level 16, State 3, Line 1
Database 'BD_ACADEMIA' already exists. Choose a different database name.

In [ ]:
USE BD_ACADEMIA

In [20]:
CREATE TABLE Instrutor(
    CPF INTEGER NOT NULL PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Telefone VARCHAR(17)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Instrutor' in the database.

In [17]:
SELECT * FROM Instrutor

In [50]:
CREATE TABLE Matricula(
    Id INTEGER  NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Data_Matricula  DATE NOT NULL,
    Data_Vencimento DATE,
    CPF_Instrutor INTEGER NOT NULL FOREIGN KEY REFERENCES Instrutor(CPF)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Matricula' in the database.

In [55]:
SELECT * FROM Matricula

In [7]:
CREATE TABLE Aluno(
    CPF INTEGER NOT NULL PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Altura FLOAT,
    Peso INTEGER,
    Telefone VARCHAR(20),
    Id_Matricula INTEGER NOT NULL FOREIGN KEY REFERENCES Matricula(Id)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Aluno' in the database.

In [9]:
SELECT * FROM Aluno

In [10]:
CREATE TABLE Atividade(
    Id INTEGER NOT NULL IDENTITY(1, 1) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    CPF_Instrutor INTEGER NOT NULL FOREIGN KEY REFERENCES Instrutor(CPF)
)

In [11]:
SELECT * FROM Atividade

In [75]:
CREATE TABLE Turma(
    Id INTEGER NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Horario_Aula INTEGER NOT NULL,
    Id_Atividade INTEGER NOT NULL FOREIGN KEY REFERENCES Atividade(Id)
)

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'Turma' in the database.

In [74]:
SELECT * FROM Turma