In [2]:
CREATE DATABASE BD_ACADEMIA

In [4]:
USE BD_ACADEMIA

In [6]:
USE BD_ACADEMIA

In [7]:
CREATE TABLE Instrutor(
    Id INTEGER IDENTITY(1,1) PRIMARY KEY,
    CPF VARCHAR(11) NOT NULL UNIQUE,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Telefone VARCHAR(17)
)

In [8]:
INSERT INTO Instrutor(CPF, Nome, Data_Nascimento)
VALUES ('11111111111', 'Cruz', '1990-06-21')

In [9]:
SELECT * FROM Instrutor

Id,CPF,Nome,Data_Nascimento,Telefone
1,99999999999,Marcos,1970-02-15,NULL

In [10]:
CREATE TABLE Matricula(
    Id INTEGER  NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Data_Matricula  DATE NOT NULL,
    Data_Vencimento DATE,
    Id_Instrutor INTEGER NOT NULL FOREIGN KEY REFERENCES Instrutor(Id)
)

In [11]:
SELECT * FROM Matricula

In [12]:
CREATE TABLE Aluno(
    Id INTEGER IDENTITY(1,1) PRIMARY KEY FOREIGN KEY REFERENCES Matricula(Id),
    CPF VARCHAR(11) NOT NULL UNIQUE,
    Nome VARCHAR(50) NOT NULL,
    Data_Nascimento DATE NOT NULL,
    Altura FLOAT,
    Peso INTEGER,
    Telefone VARCHAR(20),
)

In [13]:
SELECT * FROM Aluno

In [14]:
CREATE TABLE Atividade(
    Id INTEGER NOT NULL IDENTITY(1, 1) PRIMARY KEY,
    Nome VARCHAR(50) NOT NULL,
    Id_Instrutor INTEGER NOT NULL FOREIGN KEY REFERENCES Instrutor(Id)
)

In [15]:
SELECT * FROM Atividade

In [16]:
CREATE TABLE Turma(
    Id INTEGER NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Horario_Aula INTEGER NOT NULL,
    Id_Atividade INTEGER NOT NULL FOREIGN KEY REFERENCES Atividade(Id)
)

In [17]:
SELECT * FROM Turma

In [18]:
CREATE TABLE Aluno_Turma(
    Id INTEGER NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Id_Turma INTEGER NOT NULL FOREIGN KEY REFERENCES Turma(Id),
    Id_Aluno INTEGER NOT NULL FOREIGN KEY REFERENCES Aluno(Id)
)

In [19]:
SELECT * FROM Aluno_Turma

In [20]:
CREATE TABLE Ausencia(
    Id INTEGER NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Data_Ausencia DATE NOT NULL,
    Id_AlunoTurma INTEGER NOT NULL FOREIGN KEY REFERENCES Aluno_Turma(Id)
)

In [21]:
SELECT * FROM Ausencia

In [22]:
CREATE TABLE Pagamento(
    Id INTEGER NOT NULL IDENTITY(1,1) PRIMARY KEY,
    Data_Pagamento DATE NOT NULL,
    Forma_Pagamento VARCHAR(20),
    Valor_Pagamento MONEY NOT NULL,
    Id_Matricula INTEGER NOT NULL FOREIGN KEY REFERENCES Matricula(Id)
)

In [23]:
SELECT * FROM Pagamento